---
import { Image } from "astro:assets";
import Button from "../../components/Button.astro";
import { type PersonalInfo } from "../../types";
const personalInfo: PersonalInfo = {
  name: "João Santos",
  subtitle: "Full-stack web developer",
  email: "jpnsantos14@gmail.com",
  location: "Porto, Portugal",
  description:
    "My passion is to build not only beautiful, but also functional websites and applications.",
  resume: "/cv.pdf",
  github: "https://github.com/jpnsantoss",
  linkedin: "https://linkedin.com/in/jpnsantoss",
  instagram: "https://www.instagram.com/jp.santoss_/",
  twitter: "https://x.com/jpnsantoss",
};

import ProfilePicture from "../../assets/images/profile.jpeg";

import LogoLinkedIn from "../../assets/icons/LogoLinkedIn.astro";
import LogoTwitter from "../../assets/icons/LogoTwitter.astro";
import MailIcon from "../../assets/icons/MailIcon.astro";
import LogoGithub from "../../assets/icons/LogoGithub.astro";
import LogoInstagram from "../../assets/icons/LogoInstagram.astro";
import LinkIcon from "../../assets/icons/LinkIcon.astro";
import LocationIcon from "../../assets/icons/LocationIcon.astro";
---

<header class="space-y-8">
  <div class="space-y-4">
    <Image
      src={ProfilePicture}
      alt="Profile Picture"
      width="150"
      height="150"
      class="rounded-full"
    />
    <div class="space-y-2">
      <h2 class="font-bold text-4xl text-primary">{personalInfo.name}</h2>
      <h3 class="text-xl">{personalInfo.subtitle}</h3>
    </div>
    <ul class="space-y-4">
      <li class="flex items-center gap-2 text-primary">
        <LocationIcon />
        <span>{personalInfo.location}</span>
      </li>
      <li class="flex items-center gap-2 text-primary">
        <MailIcon />
        <span>{personalInfo.email}</span>
      </li>
    </ul>
    <p class="text-sm">
      {personalInfo.description}
    </p>
  </div>
  <ul class="flex items-center flex-wrap gap-4">
    <Button href={personalInfo.resume} target="_blank">
      <LinkIcon />
      Resume
    </Button>
    <div class="flex items-center gap-2">
      <Button
        href={personalInfo.github}
        target="_blank"
        size="icon"
        style="secondary"
      >
        <LogoGithub />
      </Button>
      <Button
        href={personalInfo.linkedin}
        target="_blank"
        size="icon"
        style="secondary"
      >
        <LogoLinkedIn />
      </Button>
      <Button
        href={personalInfo.instagram}
        target="_blank"
        size="icon"
        style="secondary"
      >
        <LogoInstagram />
      </Button>
      <Button
        href={personalInfo.twitter}
        target="_blank"
        size="icon"
        style="secondary"
      >
        <LogoTwitter />
      </Button>
    </div>
  </ul>
</header>
